<?xml version="1.0"?>
<configuration>

  <appSettings>

    <!-- Ranking rules -->

    <!-- Warning, MaxCombinationsPerToken can (and will) include duplicates. eg, foo ==> food  in multiple ways. 1) add a 'd'   2) add a 's', swap 's' with 'd'  etc...  -->
    <add key="MaxCombinationsPerToken" value="5"/>

    <!-- if a term appears less than this number of times, then forget it. -->
    <add key="DictionaryCutOff" value="10"/>
		
	<!-- divide dictionary counts by this for "normalization" -->
    <add key="DictionaryNormaliser" value="1000000"/>

		

    <!-- Just from dictionary counts, if score is below this, then skip it -->
    <add key="EarlyTokenCutOff" value="0.02"/>

    
    <add key="MaxTermsInQuery" value="10"/>
    <add key="MultiplierReductionPerChange" value="0.80"/>
    <add key="MultiplierReductionPerDeletion" value="0.80"/>
    <add key="MultiplierReductionPerReplace" value="0.80"/>
    <add key="MultiplierReductionPerTransposition" value="0.80"/>
    <add key="MultiplierReductionPerInsertion" value="0.80"/>
    <add key="MultiplierIncreaseForCorrectSpelling" value="100.0"/>
    <add key="MultiplierReduction" value="90.0"/>


    <add key="BigramMultiplier" value="2.0"/>
		

	<!-- Ranking bands. -->
	<!-- min:max:rank -->
	<add key="band1" value="0:1000:1"/>
	<add key="band2" value="1001:100000:5"/>
	<add key="band3" value="100001:1000000:10"/>
	<add key="band4" value="1000001:9000000000:50"/>
		
		
  </appSettings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
	
</configuration>
